.layout_container{
    position: relative;
display: flex;
background-color:var(--light-beige);
height: 100dvh;
}


    @media (max-width:480px) {
        
    }
    @media (max-width:768px) {
        
    }

    @media (max-width:1024px) {
        
    }